.container-cadastro {
  padding: 2rem 1rem;
}

.container-cadastro > :not(:first-child) {
  margin-top: 1rem;
}

.container-cadastro h1,
.container-cadastro p {
  text-align: center;
}

.container-cadastro form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  background: #fcfcfc;
  border-radius: 10px;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 5px 0px #a9a9a9; 
  box-shadow: 0px 0px 5px 0px #a9a9a9;
}

.form-session,
form hr {
  width: 100%;
}

.form-session {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.container-cadastro form * {
  font-size: 1rem;
}

.container-cadastro form span {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-cadastro input,
.container-cadastro select {
  border-radius: 10px;
  line-height: 2rem;
  padding: 0 .5rem;
  margin: .25rem 0 1rem;
  border: none;
  -webkit-box-shadow: 0px 2px 3px 0px var(--lightgray-color); 
  box-shadow: 0px 2px 3px 0px var(--lightgray-color);
  width: 100%;
}

.container-cadastro select {
  height: 2rem;
}

.container-cadastro input:not([type = "checkbox"]):focus,
.container-cadastro select:focus {
  outline: none;
  -webkit-box-shadow: 0px 2px 3px 0px var(--black-color); 
  box-shadow: 0px 2px 3px 0px var(--black-color);
}

/* Hide the actual checkbox */
.container-areas input[type="checkbox"],
.container-areas input[type="radio"] {
  display: none;
}

.container-areas {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

/* Style the custom checkbox */
.container-areas .custom-checkbox {
  display: flex;
  width: 100%;
  padding: .5rem;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid var(--lightgray-color);
  margin: 0;
  cursor: pointer;
}

.container-areas input[type="checkbox"]:disabled + .custom-checkbox,
.container-areas input[type="radio"]:disabled + .custom-checkbox {
  background-color: var(--lightgray-color);
  color: var(--black-color);
}

/* Style the custom checkbox when the actual checkbox is checked */
.container-areas input[type="checkbox"]:checked + .custom-checkbox,
.container-areas input[type="radio"]:checked + .custom-checkbox {
  background-color: var(--second-color);
  color: var(--white-color);
}

.areas p {
  text-align: left;
  color: #ff0000;
  font-size: .75rem;
  margin-bottom: .5rem;
}

.container-cadastro .login-switch {
  font-size: .9rem;
  margin-top: 1rem;
  width: 100%;
}

.login-switch a {
  color: var(--main-color);
  transition: ease-in-out .2s;
}

.login-switch a:hover {
  color: var(--second-color);
}

.cadastro-alunos {
  padding: 0;
}

.cadastro-alunos form {
  margin: 0;
  gap: .5rem;
  padding: .5rem;
  background: transparent;
  box-shadow: none;
}

.cadastro-alunos input {
  margin-bottom: .25rem;
}

.cadastro-alunos .btn-principal {
  margin: .5rem 0 0;
}

.cadastro-alunos .container-areas {
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.img-cadastro {
  display: none;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 1rem;
}

@media screen and (768px < width < 1024px) {
  .container-cadastro {
    margin: 0;
    padding: 2rem 15%;
  }

  .cadastro-alunos {
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .container-cadastro {
    padding: 2rem 15%;
  }

  .container-cadastro form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .container-cadastro form span {
    width: calc(50% - .25rem);
  }

  .container-cadastro form input {
    margin-top: .5rem;
  }

  .container-cadastro span.areas {
    width: 100%;
  }

  .cadastro-alunos {
    padding: 0;
  }

  .cadastro-alunos form span {
    width: calc(33% - .5rem);
  }

  .cadastro-alunos form input {
    width: 100%;
  }

  .cadastro-alunos .btn-principal {
    margin: 0;
  }

  .form-container {
    flex-direction: row;
    gap: 1rem;
    width: 100%;
  }

  .container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-login form {
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 50%;
  }

  .container-login form span {
    width: 100%;
  }
}

/* INPUT SENHA */
.password-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.password-container input[type="password"],
.password-container input[type="text"] {
  padding-right:  30px; /* Espaço para o ícone */
  width: 100%;
}

.togglePassword {
  position: absolute;
  right:  15px;
  top:  40%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--main-color);
}

@media screen and (min-width: 1024px) {
  .togglePassword {
    top: 45%;
  }
}
