.nav-button {
  padding: .5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  background: var(--main-color);
  cursor: pointer;
  transition: ease-in-out .2s;
  color: var(--white-color);
}
.nav-button:hover:not(:disabled) {
  background: var(--main-color-hover);
}
.nav-button:disabled {
  background: var(--gray-color);
  cursor: not-allowed;
}