.container-aluno {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem;
}

@media screen and (min-width: 768px) {
  .container-aluno {
    padding: 2rem 15%;
  }

  .container-aluno h2 {
    margin-top: 2rem;
  }
}