.btn-principal {
  margin: 1rem auto;
  align-self: center;
  width: 50%;
  padding: 1rem;
  color: var(--white-color);
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid var(--lightgray-color);
  -webkit-box-shadow: 0px 0px 5px 0px #a9a9a9; 
  box-shadow: 0px 0px 5px 0px #a9a9a9;
  transition: ease-in-out .5s;
  background: linear-gradient(45deg, rgba(255,102,0,1) 0%, rgba(153,0,204,1) 100%);
}

.btn-wd-md {
  width: 75%;
}

.btn-wd-lg {
  width: 100% !important;
}

.btn-principal:hover {
  background: linear-gradient(45deg, rgba(204,85,0,1) 0%, rgba(102,0,153,1) 100%);
}

.disabled,
.disabled:hover {
  background: var(--lightgray2-color);
  color: var(--gray-color);
  cursor: not-allowed;
}

@media screen and (min-width: 768px) {
  .btn-principal {
    width: 30%;
  }
}