.container {
  display: flex;
  flex-direction: column;
}

.sessao-texto {
  padding: 3rem 1rem;
  gap: .5rem;
}

.sessao-texto p {
  text-align: justify;
}

.sessao-texto > h2:not(:first-child) {
  margin-top: 1rem;
}

.sessao-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sessao-img img {
  width: 100%;
}

.icone-home {
  display: none;
}

@media screen and (min-width: 1024px) {
  .sessao-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 5.25rem);
    background-color: #fff;
    position: relative;
  }
  
  .sessao-img img {
    width: 100%;
  }

  .sessao-texto {
    padding: 3rem 15%;
  }

  @keyframes hoverAnimation {
    0% { transform: translateY(0); }
    30% { transform: translateY(-10px); }
    70% { transform: translateY(10px); }
    100% { transform: translateY(0); }
  }
  
  .icone-home {
    display: block;
    color: var(--main-color);
    font-size: 4rem;
    z-index: 999;
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
  }
  
  .icone-home:hover {
    animation: hoverAnimation 1.5s ease-in-out infinite;
  }
}