.container {
  display: flex;
  flex-direction: column;
}

.sessao-texto {
  padding: 3rem 1rem;
  gap: .5rem;
}

.sessao-texto p {
  text-align: justify;
}

.sessao-texto > h2:not(:first-child) {
  margin-top: 1rem;
}

.sessao-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sessao-img img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .sessao-img img {
    margin-top: 2rem;
    padding: 0 15%;
  }

  .sessao-texto {
    padding: 3rem 15%;
  }
}