.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-top: 1rem;
}

.sessao-texto {
  padding: 3rem 1rem;
  gap: .5rem;
}

.primeira-sessao {
  padding-top: 1rem !important;
}

.sessao-texto h2,
.sessao-texto h3,
.sessao-texto p {
  text-align: center;
}

.sessao-texto > h2:not(:first-child) {
  margin-top: 1rem;
}

.sessao-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: .5rem;
}

.sessao-img img {
  width: 100%;
}
  
.icone-home {
  display: block;
  color: var(--main-color);
  height: 2rem;
  width: 2rem;
}

.sessao-bg {
  background: #ff8c00;
  color: var(--white-color);
  gap: 2rem;
}

.destaque {
  color: #ff0000;
  margin-top: .5rem;
}

.premiacao {
  text-align: center;
  margin: .25rem 0;
  font-size: .9rem;
}

.logo-if {
  padding: 0 2rem;
  width: 100%;
}

.sessao-texto h3:not(:first-of-type) {
  margin-top: 3rem;
}

.sessao-logos div {
  text-align: center;
}

.icon-rotate {
  transform: rotate(52deg);
  width: 1%;
}

/* Cronograma */
.cronogram-holder {
  display: flex;
  flex-direction: column;
}

.cronogram-holder ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cronogram-holder ul li {
  width: 75%;
}

.cronogram-holder ul li:not(:last-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .cronogram-holder ul {
    padding-left: 10rem;
  }

  .modal-content {
    gap: 2rem;
    width: 50%;
  }

  .sessao-img img {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) { 
  .container {
    padding-top: 5rem;
  }

  .sessao-img {
    padding-top: 1.5rem;
  }

  .sessao-img img {
    width: 50%;
  }
  
  .sessao-logos {
    flex-direction: row;
  }

  .sessao-logos div {
    width: 50%;
  }

  .sessao-logos div img {
    margin-top: 1rem;
    width: 70%;
  }

  .sessao-texto {
    padding: 3rem 20%;
  }

  .olimp-container-desktop {
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch !important;
  }

  .modal-content {
    width: 30%;
  }
}