.nav-disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: var(--lightgray);
}

.nav-header {
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px 0px #a9a9a9; 
  box-shadow: 0px 0px 5px 0px #a9a9a9;
}

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .75rem;
  background: linear-gradient(45deg, rgba(255,102,0,1) 0%, rgba(153,0,204,1) 100%);
  color: var(--white-color);
  width: 100%;
  z-index: 999;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  text-decoration: none;
  color: inherit
}

header a img {
  height: 2rem;
}

.home-click {
  cursor: pointer;
}
  
.navbar {
  flex-direction: column;
  gap: .75rem;
  right: 2px;
  background: linear-gradient(45deg, rgba(255,102,0,1) 0%, rgba(153,0,204,1) 100%);
  height: 0;
  padding: 0;
  overflow: hidden;
  transition: height .1s ease-in-out;
  display: flex;
}

.navbar a {
  color: var(--lightgray-color);
  border-bottom: 1px solid transparent;
  text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
  color: var(--white-color);
}

.navbar a.active {
  border-color: var(--white-color);
}

.botao-mobile {
  display: flex;
  align-items: center;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
}

.icone-menu {
  color: var(--white-color);
  height: 2rem;
  width: 2rem;
}

.img1 { 
  width: 100%;
}

.menu-mobile .navbar a.logout-opt {
  color: #ff0000;
  border: none;
}

.menu-mobile .navbar a.logout-opt:hover,
.menu-mobile .navbar a.logout-opt.active {
  color: #dd0000;
}

@media screen and (min-width: 1024px) {
  header {
    height: 5rem;
    padding: 0 2rem;
  }

  header a img {
    height: 2.5rem;
  }

  .menu-mobile .navbar {
    display: flex;
    flex-direction: row;
    visibility: visible;
    margin-top: 0;
    position: static;
    overflow-y: visible;
    overflow-x: visible;
    gap: .5rem;
    border-radius: 0;
    background: transparent;
  }

  .menu-mobile .navbar a {
    transition: ease-in-out .2s;
  }

  .botao-mobile {
    display: none;
  }

  .btn-inscrever {
    background: var(--main-color);
    border-radius: 10px;
    color: var(--white-color) !important;
    -webkit-box-shadow: 0px 0px 5px 0px #808080; 
    box-shadow: 0px 0px 5px 0px #808080;
  }
}