@import '../../global.css';

.btn-acessar {
  padding: .5rem 1rem;
  border-radius: 50px;
  cursor: pointer;
  transition: ease-in-out .2s;
  border: 1px solid var(--main-color);
}

.btn-acessar:hover:not(:disabled) {
  background: var(--lightgray-color);
  color: var(--black-color);
}

.btn-acessar:disabled {
  background: var(--lightgray-color);
  color: #797979;
  cursor: not-allowed;
}