.container-admin {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.botao-mobile-admin {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  border: none;
  background: none;
  cursor: pointer;
}

aside {
  width: 0;
  visibility: hidden;
  height: 100vh;
  transition: width .5s;
  position: fixed;
  background: linear-gradient(45deg, rgba(255,102,0,1) 0%, rgba(153,0,204,1) 100%);
}

aside.active {
  z-index: 999;
  width: 70%;
  visibility: visible;
  -webkit-box-shadow: 0px 0px 5px 0px #a9a9a9; 
  box-shadow: 0px 0px 5px 0px #a9a9a9;
}

aside div {
  background: var(--white-color);
  padding: .3rem;
  border-radius: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

aside div .home-click {
  width: 100%;
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

aside div .home-click img {
  height: 2.5rem;
}

aside div a {
  position: absolute;
  text-decoration: none;
  align-self: center;
  bottom: 1.5rem;
  color: #ff0000;
}

aside div a i {
  margin-right: .3rem;
}

main,
aside {
  padding: .5rem;
}

main {
  width: 100%;
}

main > *:not(:first-child) {
  margin-top: 1.5rem;
}

main:last-child {
  margin-bottom: 1.5rem;
}

.container-admin .icone-menu-admin {
  color: var(--black-color);
}

.cards,
.registered-schools,
.school-requests,
.schools {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .cards,
  .schools {
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
  }
}

@media screen and (min-width: 1024px) {  
  aside.mobile-bar {
    visibility: visible;
    width: 20%;
    position: fixed;
  }

  main {
    margin-left: 20%;
    width: 80%;
    padding: 2rem;
  }

  .botao-mobile-admin {
    display: none;
  }
}