@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;700&display=swap');

:root {
  --black-color: #242424;
  --black2-color: #212529;
  --white-color: #F1F1F1;
  --white2-color: #F9F9F9;
  --lightgray-color: #d1d1d1;
  --lightgray2-color: #F3F3F3;
  --main-color: #ff6600;
  --second-color: #9900cc;
  --if-color: #369837;

  font-family: "Wix Madefor Display", sans-serif;
}

/* This will change the scrollbar track (background) */
::-webkit-scrollbar-track {
  /* background: linear-gradient(45deg, rgba(255,102,0,1) 0%, rgba(153,0,204,1) 100%); */
  background: var(--second-color);
}

/* This will change the scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 20px;
}

/* This will change the size of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

.under-header-container {
  padding-top: 5rem;
}

@media screen and (min-width: 768px) {
  .under-header-container {
    padding-top: 6rem;
  }
}