.container-admin {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: .5rem;
}

.container-admin > *:not(:first-child) {
  margin-top: 1.5rem;
}

.container-admin:last-child {
  margin-bottom: 1.5rem;
}

.container-admin .icone-menu-admin {
  color: var(--black-color);
}

.cards,
.registered-schools,
.school-requests,
.schools {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .cards,
  .schools {
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
  }
}

@media screen and (min-width: 1024px) {
  .container-admin {
    width: 80%;
    padding: 2rem;
  }
}