.container-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.container-not-found img {
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px 0px #a9a9a9; 
  box-shadow: 0px 0px 5px 0px #a9a9a9;
}

.under-header-container {
  padding-top: 2rem !important;
}

.under-header-container h1 {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container-not-found {
    padding: 2rem 15%;
  }

  .container-not-found img {
    width: 30rem;
  }
}